*,
*:before,
*:after {
  box-sizing: border-box;
}
.home-page {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page h3 {
  font-size: 1.5rem;
}
.home-page p {
  font-size: 1.1rem;
}
.btn-home {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}
.btn-home:hover {
  background-color: seagreen;
  transition: 0.7s;
}
.btn-home a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
.home-page .reg {
  margin-top: 0.9rem;
}
.register,
.rental-status {
  display: flex;
  flex-direction: column;
}
form {
  height: auto;
  width: 400px;
  background-color: white;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px gray;
  padding: 50px 35px;
  margin-top: 24rem;
}
form * {
  font-family: "Poppins", sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: skyblue;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: black;
}
.regbtn {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}
.regbtn a {
  color: white;
  text-decoration: none;
}
.regbtn:hover {
  background-color: seagreen;
  transition: 0.7s;
}
.rental {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.rentalbtn {
  background-color: lightgreen;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}
.preapprovedBtn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}
.preapprovedBtn:hover {
  background-color: seagreen;
  transition: 0.7s;
}
.rental-status {
  list-style-type: none;
  width: 112%;
  margin-left: -39px;
}
.rental-status li {
  padding: 15px;
  margin-top: 10px;
  border: 0.8px solid gray;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.rental-status li:hover {
  border: 2px solid gray;
  color: purple;
}
.request-amount-input {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #fff;
}
.monthly-plan {
  height: 48px;
  border-radius: 5px;
  padding: 0 15px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 4px 0px rgb(0 0 0 /24%);
  transition: all 0.2s;
  background-color: white;
  margin-top: 20px;
  min-height: 30px;
  min-width: 120px;
  width: 100%;
}
.rentalbtn {
  background-color: green;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.rentalbtn:hover {
  background-color: seagreen;
  transition: 0.7s;
  color: white;
}
.payment-option-div {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}
.payment-option span {
  float: right;
  margin-top: -20px;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  
}